/* Basic style */
:root {
  --primary: #fff;
  --secondary: #050840;
  --highlight-primary: #7ce7c9;
  --highlight-secondary: #9d7beb;
  --radius: 0.5rem;
  --pill: 2rem;
  --line: 0.1rem;
  --degrees: 0;
  --default-height: 4rem;
}

* {
  box-sizing: border-box;
  /* margin: 0; */
}

body {
  padding: 2rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  height: 100vh;
  background: var(--secondary);
  overflow: hidden;
}

section {
  display: flex;
  flex-wrap: wrap;
  max-width: 90vw;
  /* padding: 2rem; */
}

a {
  display: flex;
  overflow: visible;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 0.2em;
  padding: 0.4em 0.8em;
  height: var(--default-height);
  background: var(--secondary);
  color: var(--highlight-primary);
  border: var(--line) solid var(--highlight-primary);
  border-radius: var(--pill);
  font-weight: normal;
  text-decoration: none;
}

video {
  display: none;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%; 
  height: 100%;
  z-index: -1;
}

video.play {
  display: block;
}

.colorBackground {
  position: absolute;
  width: 200vw;
  height: 200vh;
  transition: clip-path 1.5s;
  clip-path: circle(0%);
  z-index: -1;
}

.fill {
  clip-path: circle(100%);
}

.active {
  position: relative;
  background: var(--highlight-secondary);
  color: var(--secondary);
  border-color: var(--secondary);
}

a:hover {
  color: var(--primary);
  border-color: var(--primary);
}

section .fix {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fix div {
  position: absolute;
  z-index: -1;
}

/* UI Event Classes */

/* Jump animation on the interaction link */

.jump {
  animation-name: jump;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 1.2s;
  animation-iteration-count: 1;
}

@keyframes jump {
  0% {
    transform: scale(1, 1) translateY(0);
  }

  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }

  30% {
    transform: scale(0.9, 1.1) translateY(-5rem) rotate(10deg);
  }

  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }

  57% {
    transform: scale(1, 1) translateY(-0.5rem) rotate(-2deg);
  }

  64% {
    transform: scale(1, 1) translateY(0);
  }

  100% {
    transform: scale(1, 1) translateY(0);
  }
}

/* Jouw animaties */

/* Gradient background */
.gradient {
  background: linear-gradient(45deg, rgb(153, 0, 255), rgb(0, 255, 221));
  background-size: 200% 300%;
  animation: gradient 10s infinite;
  color: var(--primary);
}

@keyframes gradient {
  0% {
    background-position: 5% 30%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 5% 30%;
  }
}

/* Error animation */

.error {
  animation: error .08s;
  animation-iteration-count: 3;
  background-color: red;
  color: var(--primary);
  border-color: var(--primary);
}

@keyframes error {
  0% {
    transform: translateX(.3rem);
  }

  100% {
    transform: translateX(-.3rem);
  }
}

/* Focus animation */

.focus {
  animation: focus 1.5s;
  animation-iteration-count: 2;
}

@keyframes focus {
  0% {
    transform: scale(1) rotate(0);
  }

  25% {
    transform: scale(1.05) rotate(4deg);
  }

  50% {
    transform: scale(1.05) rotate(-4deg);
  }

  75% {
    transform: scale(1.05) rotate(0deg);
  }

  100% {
    transform: scale(1) rotate(0deg);
  }
}

/* Rotate animation */

.rotate {
  transform: rotate(var(--degrees));
  transition: .2s;
}

/* Flip animation */

.flip {
  animation: flip 1s;
  z-index: 1;
}

@keyframes flip {
  0% {
    transform: rotateX(0deg) translateY(0);
  }

  50% {
    transform: rotateX(0deg) translateY(2rem);
    /* background: linear-gradient(100deg, #27fff4, #bc48ff, #ff291a); */
  }

  100% {
    transform: rotateX(360deg) translateY(0);
  }
}

/* POOF! animation */
.poof {
  animation: poof 1s forwards;
}

.poof-message {
  animation: poof 1s alternate-reverse;
  animation-delay: .8s;
  color: var(--primary);
  opacity: 0;
}

@keyframes poof {
  0% {
    transform: scale(1);
  }

  75% {
    transform: scale(1.1);
    opacity: 1;

  }

  100% {
    transform: scale(0);
  }
}

/* Grow animation */

.grow {
  animation: grow 1s;
}

@keyframes grow {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(2) rotate(180deg);
  }

  100% {
    transform: scale(1);
  }
}

/* Fly animation */

.fly {
  position: relative;
  animation: fly 4s;
}

@keyframes fly {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: rotate(10deg) translateX(-2em) scale(.8);
  }

  50% {
    transform: rotate(-5deg) translateX(100em);
  }

  80% {
    transform: translateY(100em);
  }

  90% {
    transform: translateY(-1em) scale(.4);
  }

  100% {
    transform: scale(1);
  }
}

/* Pusle animation */

.pulse-circle {
  border-radius: var(--pill);
  background-color: var(--highlight-secondary);
  width: 100%;
  height: var(--default-height);
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.pulse {
  animation: pulse 4s infinite cubic-bezier(.36, .11, .89, .32);
}

@keyframes pulse {
  from {
    transform: scale(.5, .5);
    opacity: .8;
  }
  to {
    transform: scale(3, 3);
    opacity: 0;
  }
}