/* Basic style */
:root {
  --primary: #fff;
  --secondary: #050840;
  --highlight-primary: #7ce7c9;
  --highlight-secondary: #9d7beb;
  --radius: 0.5rem;
  --pill: 2rem;
  --line: 0.1rem;
  --degrees: 0;
}

* {
  box-sizing: border-box;
}

body {
  margin: auto;
  padding: 2rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  height: 100vh;
  background: var(--secondary);
}

section {
  display: flex;
  flex-wrap: wrap;
  max-width: 90vw;
}

a {
  display: inline-block;
  margin: 0.2em;
  padding: 0.4em 0.8em;
  background: var(--secondary);
  color: var(--highlight-primary);
  border: var(--line) solid var(--highlight-primary);
  border-radius: var(--pill);
  font-weight: normal;
  text-decoration: none;
}

.active {
  position: relative;
  background: var(--highlight-secondary);
  color: var(--secondary);
  border-color: var(--secondary);
}

a:hover {
  color: var(--primary);
  border-color: var(--primary);
}

section .fix {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fix div {
  position: absolute;
  z-index: -1;
}

/* UI Event Classes */

/* Jump animation on the interaction link */

.jump {
  animation-name: jump;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 1.2s;
  animation-iteration-count: 1;
}

@keyframes jump {
  0% {
    transform: scale(1, 1) translateY(0);
  }

  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }

  30% {
    transform: scale(0.9, 1.1) translateY(-5rem) rotate(10deg);
  }

  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }

  57% {
    transform: scale(1, 1) translateY(-0.5rem) rotate(-2deg);
  }

  64% {
    transform: scale(1, 1) translateY(0);
  }

  100% {
    transform: scale(1, 1) translateY(0);
  }
}

/* Jouw animaties */

/* Gradient background */
.gradient:not(.active) {
  background: linear-gradient(45deg, rgb(114, 0, 207), rgb(0, 183, 255));
	background-size: 200% 300%;
	animation: gradient 3s infinite;
  color: var(--primary);
}

  @keyframes gradient {
    0% {
      background-position: 5% 30%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 5% 30%;
    }
  }
  
/* Error animation */

.error {
  animation: error .2s;
  animation-iteration-count: 3;
  background-color: red;
  color: var(--primary);
  border-color: var(--primary);
}

@keyframes error {
  0% {
    rotate: 0deg;
  }

  50% {
    rotate: -4deg;

  }

  100% {
    rotate: 4deg;
  }
}

/* Focus animation */

.focus {
  animation: focus 1.5s;
  animation-iteration-count: 2;
}

@keyframes focus {
  0% {
    transform: scale(1) rotate(0);
  }
  25% {
    transform: scale(1.05) rotate(4deg);
  }
  50% {
    transform: scale(1.05) rotate(-4deg);
  }
  75% {
    transform: scale(1.05) rotate(0deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}

/* Rotate animation */

.rotate {
  transform: rotate(var(--degrees));
  transition: .2s;
}

/* Flip animation */

.flip {
 animation: flip 1s;
 z-index: 1;
}

@keyframes flip {
  0% {
    transform: rotateX(0deg) translateY(0);
  }
  50% {
    transform: rotateX(0deg) translateY(2rem);
    /* background: linear-gradient(100deg, #27fff4, #bc48ff, #ff291a); */
  }
  100% {
    transform: rotateX(360deg) translateY(0);
  }
}

/* POOF! animation */
.poof {
  animation: poof 1s forwards;
}

.poof-message {
  animation: poof 1s alternate-reverse;
  animation-delay: .8s;
  color: var(--primary);
  opacity: 0;
}

@keyframes poof {
  0% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.1);
    opacity: 1;

  }
  100% {
    transform: scale(0);
  }
}